.parent {
    background-color: rgb(225, 36, 36);
    min-height: 100vh;
    justify-content: center;
    display: flex;
  }
  
  .login-container {
    margin-top: 100px;
    width: 350px;
    height: fit-content;
    text-align: center;
    padding: 20px 20px;
    background-color: white;
    border-radius: 50px;
  }
  
  input {
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 10px 0px;
    padding: 2px;
  }
  
  .input-error {
    border: 1px solid red;
  }
  
  .input-success {
    border: 1px solid green;
  }
  
  .error {
    text-align: center;
    color: red;
    font-size: 12px;
    margin: 0px;
    margin-bottom: -15px;
    margin-top: -5px;
  }
  